body {
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: grey;
  padding: 5px;
  height: 8vh;
}

Link {
  text-decoration: none;
}