.product-container {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.product {
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    margin: 5px;
    height: 100%;
    width: 200px;
}

.img {
    object-fit: contain;
}

.arrow {
    cursor: pointer;
    height: 100%;
    background-color: transparent;
    font-weight: bolder;
    font-size: x-large;
}

.head-info{
    text-align: center;
}